<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Admin Action -->
	<bean id="loginAction" class="adminaction.LoginAction" scope="prototype">
		<property name="adminDao" ref="adminDao"></property>
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="addAction" class="adminaction.AdminAddAction"  scope="prototype">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	<bean id="deleteAction" class="adminaction.AdminDeleteAction"  scope="prototype">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	<bean id="repasswordAction" class="adminaction.AdminRepasswordAction"  scope="prototype">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	<bean id="exitAction" class="adminaction.ExitAction"  scope="prototype">
	</bean>
	<!-- Student Action -->
	<bean id="studentAddAction" class="studentaction.StudentAddAction"  scope="prototype">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="getStudentListAction" class="studentaction.getStudentListAction"  scope="prototype">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="upDataStudentListAction" class="studentaction.UpDataStudentListAction"  scope="prototype">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="deleteStudentAction" class="studentaction.StudentDeleteAction"  scope="prototype">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="updataStudentAction" class="studentaction.UpdataStudentAction"  scope="prototype">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	<bean id="queryStudentAction" class="studentaction.StudentQueryAction"  scope="prototype">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 数据库连接信息 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/studentsystem" />	
		<property name="user" value="root"></property>
		<property name="password" value="8840153"></property>
		<!-- 连接池配置信息 -->
		<property name="maxPoolSize" value="40"></property>
		<property name="minPoolSize" value="1"></property>
		<property name="maxIdleTime" value="20"></property>
		<property name="initialPoolSize" value="1"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources" > 
			<list>
				<value>object/Admin.hbm.xml</value>
				<value>object/Student.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="adminDao" class="db.AdminDbManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="studentDao" class="db.StudentDbManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>
