<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buildingAddServlet</display-name>
    <servlet-name>buildingAddServlet</servlet-name>
    <servlet-class>servlet.BuildingAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buildingAddServlet</servlet-name>
    <url-pattern>/MyOffice.files/buildingAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buildingUpdateServlet</display-name>
    <servlet-name>buildingUpdateServlet</servlet-name>
    <servlet-class>servlet.BuildingUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buildingUpdateServlet</servlet-name>
    <url-pattern>/MyOffice.files/buildingUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomAddServlet</display-name>
    <servlet-name>RoomAddServlet</servlet-name>
    <servlet-class>servlet.RoomAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomAddServlet</servlet-name>
    <url-pattern>/MyOffice.files/RoomAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomUpdateServlet</display-name>
    <servlet-name>RoomUpdateServlet</servlet-name>
    <servlet-class>servlet.RoomUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomUpdateServlet</servlet-name>
    <url-pattern>/MyOffice.files/RoomUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddServlet</display-name>
    <servlet-name>AdminAddServlet</servlet-name>
    <servlet-class>servlet.AdminAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddServlet</servlet-name>
    <url-pattern>/MyOffice.files/AdminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRepasswordServlet</display-name>
    <servlet-name>AdminRepasswordServlet</servlet-name>
    <servlet-class>servlet.AdminRepasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRepasswordServlet</servlet-name>
    <url-pattern>/MyOffice.files/AdminRepasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostAddServlet</display-name>
    <servlet-name>CostAddServlet</servlet-name>
    <servlet-class>servlet.CostAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostAddServlet</servlet-name>
    <url-pattern>/MyOffice.files/CostAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostUpdateServlet</display-name>
    <servlet-name>CostUpdateServlet</servlet-name>
    <servlet-class>servlet.CostUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostUpdateServlet</servlet-name>
    <url-pattern>/MyOffice.files/CostUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/MyOffice.files/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/MyOffice.files/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRepasswordServlet</display-name>
    <servlet-name>UserRepasswordServlet</servlet-name>
    <servlet-class>servlet.UserRepasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRepasswordServlet</servlet-name>
    <url-pattern>/UserOffice.files/UserRepasswordServlet</url-pattern>
  </servlet-mapping>
  
</web-app>